.loginBtn {
 padding: 10px 20px;
 background: #cecece;
 border-radius: 10px;
 border: none;
}
.loginBtn:focus {
 outline: none;
 cursor: pointer;
}

.loginBox {
 height: 400px;
 width: 350px;
 border: 2px solid #cecece;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.displayBlock {
 display: block;
}
